﻿<div data-role="header">
    <a href="#back" data-icon="carat-l">Back</a>
    <h1>BLAP Mobile</h1>
</div>

<div role="main" class="ui-content">
    <h2>Sign In</h2>
    <form>
        <label for="email">Email Address</label>
        <input type="text" name="email" id="email" value="samsungs5@imprezzio.com">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">

        <fieldset data-role="controlgroup">
            <input type="checkbox" name="chck-rememberme" id="chck-rememberme" checked="">
            <label for="chck-rememberme">Remember me</label>
        </fieldset>

        <button id="btn-submit" class="ui-btn">Login</button>
    </form>
    <!--<a href="#dlg-invalid-credentials" data-rel="popup" data-transition="pop" data-position-to="window" id="btn-submit" class="ui-btn ui-btn-b ui-corner-all mc-top-margin-1-5">Submit</a>-->
    <p class="mc-top-margin-1-5"><a href="begin-password-reset.html">Can't access your account?</a></p>
    <div data-role="popup" id="dlg-invalid-credentials" data-dismissible="false" style="max-width:400px;">
        <div role="main" class="ui-content">
            <h3 class="mc-text-danger">Login Failed</h3>
            <p>Did you enter the right credentials?</p>
            <div class="mc-text-center"><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow">OK</a></div>
        </div>
    </div>
</div>