﻿<ion-view view-title="Playlist">
    <ion-content>
        <h1>Contacts</h1>

        <ion-list>
            <ion-item ng-repeat="c in contacts">
                {{c.displayName}} - {{c.phoneNumber}}
                <ion-radio ng-model="c.choice"  ng-value="'A'">Choose A</ion-radio>
                <ion-radio ng-model="c.choice" ng-value="'B'">Choose B</ion-radio>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>