﻿<div data-role="header" data-position="fixed">
    <a href="#back" data-icon="carat-l">Back</a>
    <h1>BLAP Mobile</h1>
</div>

<div role="main" class="ui-content">
    <ul id="contactsList" data-role="listview" data-filter="true" data-inset="true"></ul>
</div>

<div data-role="footer" style="text-align: center;" data-position="fixed">
    <button id="selectContacts" class="ui-btn ui-corner-all">Select</button>
    <button id="cancelContacts" class="ui-btn ui-corner-all">Cancel</button>
</div>