﻿<div data-role="header">
    <h1>BLAP Mobile</h1>
</div>

<div role="main" class="ui-content">
    <h2>Welcome!</h2>
    <p><b>Existing Users</b></p>
    <a href="#login" data-role="button" class="ui-btn ui-corner-all">Sign In</a>
    <p><b>Don't have an account?</b></p>
    <a href="sign-up.html" class="ui-btn ui-corner-all">Sign Up</a>
</div>