﻿<h2><%= displayName %></h2>
<ul class="contact-info">
    <% _.each(numbers, function(number, key) { %>
    <li>
        <label for="<%= number.value %>"><%= number.type %> | <%= number.value %></label>
        <input type="radio" name="<%= displayName %>number" id="<%= number.value %>">
    </li>
    <% }) %>
</ul>